// jshint ignore: start
block content
    h1= "Proceed To Pay"
    form(name="add-estimation", method="post")
        div.actions
            input(type="submit", value="Buy Now")
            br
            input(type="submit", value="Deposit")
            br
            input(type="submit", value="Confirm")

