// jshint ignore: start
block content
    h1= "Proceed To Pay"
    form(name="add-estimation", method="post")
        div.input
            span.label Enter Amount
            input(type="text", name="amount")
        div.actions
            input(type="submit", value="pay")

